####################################
# Database
####################################

DB_URL=
DB_USERNAME=
DB_PASSWORD=

####################################
# Redis
####################################

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_SSL_ENABLED=false

####################################
# Spring Security
####################################

SPRING_SECURITY_USERNAME=
SPRING_SECURITY_PASSWORD=

####################################
# AWS
####################################

AWS_REGION=ap-south-1
AWS_SES_SENDER_EMAIL=

####################################
# AWS Credentials
####################################

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=